<card>
    <div class="card_top_line">
        <h5 class="card_title">{{card_title}}</h5>

        <p class="card_date">{{card_date}}</p>
    </div>
    <div class="card_inner">
        {{card_body}}
    </div>
</card>